<%= form_for @user, :html => {:class => 'userform' }, url: login_path, method: :post do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :password %>
  <%= f.password_field :password %>

  <%= f.submit "Log In" %>
  <div></div>
  <%= link_to image_tag("btn_google_signin_dark_pressed_web.png"), '/auth/google_oauth2' %>

<% end %>
