	<div class="info-box">
		<h4><%= link_to "#{proposal.title} - #{proposal.user.name}", user_proposal_path(User.find(proposal.user_id), proposal) %></h4>
		<p>
		<%= proposal.description %>
		</p>
		<h4>Funding:</h4> <%= number_to_currency(proposal.funding) %>
		<h4>Funding Goal:</h4> <%= number_to_currency(proposal.funding_goal) %>
		<h4 class="votes">Votes: <%= proposal.active_votes_count %> </h4>
		<h4>Deadline:</h4> <%= proposal.expiration %> 
		<% if logged_in? %>
			<%= form_tag user_votes_path(current_user) do %>
				<%= render partial: 'votes/vote_form', locals: {proposal: proposal, user: current_user} %>
			<% end %>
		<% end %>
	</div>

