<div class="info-box">
<%= form_for([@user, @proposal]) do |f| %>
  <% if @proposal.errors.any? %>
    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @proposal.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= f.label :title %>
  <div class="field<%= ' field_with_errors' if @proposal.errors[:title].any? %>">

  <%= f.text_field :title %>
  </div>

  <%= f.label :funding_goal %>
  <div class="field<%= ' field_with_errors' if @proposal.errors[:funding_goal].any? %>">
    <%= f.number_field :funding_goal %>
  </div>
  
  <%= f.label :description %>
  <div class="field<%= ' field_with_errors' if @proposal.errors[:description].any? %>">
    <%= f.text_area :description, size: "45x15"%>
  </div>


  <div class="field<%= ' field_with_errors' if @proposal.errors[:expiration_date].any? %>">
    <%= f.label :expiration_date %>
    <%= f.date_field :expiration%>
  </div>

	<%= f.hidden_field :user_id, :value => @user.id %>

  <%= f.submit "Submit" %>

  <% end %>
</div>