<nav>
	<ul>
		<li><%= link_to "About", "/"%></li>
		<li><%= link_to "Proposals", "/proposals"%></li>
		<li>
		<%= membership_nav_link %>
		</li>
		<li><%= link_to "Donate", "/donate"%></li>
		<li><%= link_to "Create Proposal", new_user_proposal_path(current_user)%></li>
		<li><%= link_to "Log Out", "/logout"%></li>
	</ul>
</nav>