<div class="topnav" id="myTopnav">
  <%= link_to "Home", "/"%>
  <%= link_to "Donate", "/donate"%>
  <%= membership_nav_link %>
  <div class="dropdown">
    <button class="dropbtn">Proposals 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">
		<%= proposals_dropdown_menu %>
    </div>
  </div> 
  <%= link_to "Log Out", "/logout"%>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">&#9776;</a>
</div>
