<!DOCTYPE html>
<html>
  <head>

    <title>ClearFund</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

		<% if logged_in? %>
			<%= render partial: "logged_in_nav"%>
		<% else %>
			<%= render partial: "logged_out_nav"%>
		<% end %>

		<div id="wrapper">
    <h1>ClearFund</h1> 
    <h3>Decentralized Charity</h3>
    <% if flash[:alert]%>
      <h3><%=flash[:alert]%></h3>
    <% end %>
		<%= yield %>
		</div>

  </body>

</html>
